@import url('_reset.css');
@import url('_normalize.css');
@import url('_bootstrap.css');
@import url('bootstrap-theme.css');
@charset "utf-8";

/* Forcing input field placeholder color */

*::-webkit-input-placeholder {
    color: #e5e5e5 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #e5e5e5 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #e5e5e5 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #e5e5e5 !important;
}

/* Custom Theme begins */
body{
  text-align: center;
}
.big_wrapper{
  background: url(../i/foodplate_op30.png);
}
.mid_wrapper{
  width: 1000px;
  height: 100px;
  margin: 30px auto;
  text-align: center;
  color: #ffffff;
}
.top_wrapper{
  background: #fff;
  padding: 30px 100px;
  text-align: center;
}
.fp_logo{
  width: 180px;
}
.fp_slogan{
  margin: 105px 0 160px;
  font-weight: 100;
  text-shadow: 1px 1px 5px #000;
}
.fp_notice{
  font-weight: 100;
  text-shadow: 1px 1px 5px #000;
}
.fp_subscription{
  margin: 0 auto;
}
.fp_subscription_email{
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  width: 400px !important;
}
