@import url('_reset.css');
@import url('_normalize.css');
@import url('_bootstrap.css');

@import url('bootstrap-theme.css');
@charset "utf-8";

body{
  text-align: left;
  z-index: -9999;
}
.wrapper{
  width: 1000px;
  height: 100px;
  margin: 30px auto;
}
.splash{
  background: url(../i/foodplate.jpg);
}
.logo{
  width: 240px;
}
.nav{
  margin-top: 20px;
  text-transform: uppercase;
  float: right;
  font-size: 16px;
}
.nav a{
  color: #fff;
  padding-right: 9px;
}
.nav a:hover{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.mid{
  text-align: center;
}
.slogan{
  margin: 75px 0 160px;
  text-align: center;
  color: #fff;
  font-weight: 100;
}
a.join{
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 25px;
}
a.join:hover{
  text-decoration: none;
}
